@use "reset";
@use "global";
@use "form";

/* ----------------------- HEADER -----------------------------*/
.header {
    background-color: var(--black);
    color: var(--white);

    background-size: cover;
    background-image: url("https://resources.trendmicro.com/rs/945-CXD-062/images/smb__header-bg.png");
    background-position: left;
    background-repeat: no-repeat;

    @media (min-width: 45em) {
        background-position: center;
    }

    &__container {
        padding-block: var(--spacing);

        img {
            max-width: 15rem;
            padding-bottom: var(--spacing);
        }

        h1 {
            font-size: 1.75rem;
            line-height: 1.4;
            font-weight: 700;
            max-width: 25ch;
        }

        p {
            font-size: 1.25rem;
            margin-block: 2rem;
        }

        ul {
            display: grid;
            gap: 0.35rem;

            li {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-size: 1.125rem;

                &::before {
                    content: "";
                    width: 6px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    background-color: var(--red);
                }
            }
        }

        a {
            margin-top: 2rem;
        }

        @media (min-width: 40em) {
            h1 {
                font-size: 2rem;
            }

            p {
                max-width: 55ch;
            }
        }

        @media (min-width: 70em) {
            h1 {
                font-size: 2.25rem;
            }
        }
    }
}

/* ----------------------- MAIN CONTENT -----------------------------*/
.table {
    padding-block: var(--spacing);

    &__container {
        .table-container {
            overflow-x: scroll;
        }

        h2 {
            text-align: center;
            font-size: 1.35rem;
            line-height: 1.2;
            max-width: 40ch;
            margin-inline: auto;

            @media (min-width: 45em) {
                font-size: 1.65rem;
            }
        }

        > a {
            margin-inline: auto;
            display: grid;
            max-width: max-content;
            margin-top: calc(0.5 * var(--spacing));
        }
    }

    @media (min-width: 950px) {
        ::-webkit-scrollbar {
            width: 0; /* Remove scrollbar space */
            background: transparent; /* Optional: just make scrollbar invisible */
        }
    }

    table {
        background-color: #f5f5f5;
        border-collapse: collapse;

        min-width: 800px;

        margin-inline: auto;
        margin-top: calc(1.2 * var(--spacing));
        margin-bottom: 0.25rem;
    }

    th,
    td {
        border: 1px solid #bdbdbd;
    }

    td,
    th {
        padding: 0.5rem 1rem;
    }

    th {
        padding: 0.75rem 1rem;
    }

    .cinza {
        img {
            margin-inline: auto;
        }
    }

    .vermelho {
        background-color: var(--red);
        color: var(--white);

        &.radius {
            background-color: transparent;
            position: relative;
            z-index: 1;

            &::before {
                content: "";
                background-color: var(--red);
                inset: 0 0 0 auto;
                width: 100%;
                height: 100%;
                position: absolute;
                border-top-right-radius: 100px;
                z-index: -1;
            }
        }
    }

    .table-btn {
        cursor: pointer;
        margin-left: 0.5rem;
        font-size: 1.25rem;
        border: none;
        outline: none;
        background: transparent;
        position: relative;

        img {
            pointer-events: none;
        }

        .div-hover {
            position: absolute;
            background-color: #fff;
            border-radius: 10px;
            color: #000;
            padding: 1.25rem;
            z-index: 999999;
            min-width: 22rem;
            font-size: 0.9rem;
            bottom: 100%;
            box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
            line-height: 1.5;

            transform: scale(0);
            opacity: 0;
            transform-origin: bottom left;
            transition: all 300ms ease-in-out;

            &.active {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}

.map {
    padding-block: var(--spacing);
    color: var(--white);

    background-color: #00000050;
    background-image: url("https://resources.trendmicro.com/rs/945-CXD-062/images/map__bg.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3rem;

        @media (min-width: 50em) {
            gap: 5rem;
        }

        h2 {
            font-size: 1.25rem;
            font-weight: 700;
            margin-inline: auto;
            max-width: 50ch;

            @media (min-width: 45em) {
                font-size: 1.65rem;
            }
        }
    }
}

.awards {
    padding-block: var(--spacing);

    &__container {
        display: flex;
        flex-direction: column;

        .content {
            text-align: center;

            h2 {
                margin-bottom: 1.25rem;
                max-width: 30ch;
                margin-inline: auto;
            }
        }

        .selos {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            gap: 5rem;

            margin-inline: auto;
            margin-top: 5rem;

            > * {
                max-width: 6rem;
            }
        }

        @media (min-width: 50em) {
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            gap: 4rem;

            .content {
                text-align: right;

                h2 {
                    margin-bottom: 1.5rem;
                }
            }

            .selos {
                margin: 0;
                gap: 3rem;
                column-gap: 5rem;
                > * {
                    max-width: 7rem;
                }
            }
        }

        @media (min-width: 1130px) {
            .selos {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

.contact {
    background-color: var(--red);
    color: var(--white);

    &__container {
        display: grid;

        @media (min-width: 45em) {
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
    }

    .content {
        max-width: 45em;
        padding-inline: 5%;
        padding-block: var(--spacing);
        margin-inline: auto;

        h2 {
            font-size: 1.35rem;
            font-weight: 400;
            text-align: center;
            margin-bottom: 2rem;

            span {
                font-weight: 700;
            }
        }
    }

    .image {
        background-image: url("https://resources.trendmicro.com/rs/945-CXD-062/images/msp__foto-02.png");
        background-size: cover;
        background-position: center;

        width: 100%;
        height: 100%;
    }
}

.mktoButtonRow .mktoButtonWrap.mktoSimple .mktoButton {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;

    width: 100% !important;
    padding: 0.75em 2em !important;

    color: var(--white);
    font-weight: 500 !important;
    font-size: 1.125rem !important;
    border-radius: 9999px;

    background-color: var(--black) !important;
    background-image: none !important;
    border: none !important;

    &:hover,
    &:focus {
        background-color: #fff !important;
        color: var(--black);
        transition: all 300ms;
    }
}

/* ----------------------- FOOTER -----------------------------*/
.footer {
    background-color: var(--black);
    color: var(--white);
    font-size: 0.85rem;
    text-align: center;
    display: grid;
    place-items: center;

    &__container {
        padding-block: 1rem;
    }
}
