#mktoForm_23100 {
    width: auto !important;

    max-width: 30rem !important;
    margin-inline: auto;
}

#LblGlobalPRM_MSP_Agree_to_MSP_terms__c {
    width: 100% !important;
    position: relative !important;
    text-indent: 30px !important;
    font-size: 0.8rem !important;
    font-weight: 400 !important;
    line-height: 1.5;
    cursor: pointer;
    text-align: justify;
}

#GlobalPRM_MSP_Agree_to_MSP_terms__c {
    top: 5px;
    left: 17px;
    position: absolute !important;
    width: auto !important;
    padding: 0.25rem !important;
    cursor: pointer;
}

.mktoForm input[type="text"],
.mktoForm input[type="url"],
.mktoForm input[type="email"],
.mktoForm input[type="tel"],
.mktoForm input[type="number"],
.mktoForm input[type="date"],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
    display: block !important;

    padding: 0.25em 1em !important;
    min-height: 40px !important;
    // height: 55px !important;
    width: 100% !important;
    border-radius: 99999px;
    outline: none;
    border: none;
    margin-top: 0.25rem !important;
    font-size: 1rem;

    font-weight: 500;

    &::placeholder {
        color: #666 !important;
    }
}

input:hover,
select:hover {
    outline: 2px solid rgb(114, 114, 114) !important;
    outline-offset: 2px;
}

input:focus,
select:focus {
    outline: 2px solid rgb(173, 173, 173) !important;
    outline-offset: 2px;
}

input::placeholder,
select::placeholder {
    font-size: 1rem !important;
    opacity: 0.8;
}

.mktoForm select.mktoField {
    background-image: url(https://resources.trendmicro.com/rs/945-CXD-062/images/trendmicro-select.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 10px;
    appearance: none;
}

.mktoForm .mktoRequiredField label.mktoLabel {
    display: block;
    float: none;
    color: #fff;
    width: 100% !important;
    padding-left: 15px;
    font-size: 0.9rem;
}

.mktoForm .mktoFieldWrap {
    float: none !important;
}

.mktoForm .mktoFormCol {
    float: none !important;
}
.mktoGutter.mktoHasWidth {
    width: auto !important;
}

.mktoAsterix {
    color: var(--red) !important;
    float: none !important;
    position: absolute;
    left: 0;
    font-size: 1.25rem;
}

.mktoButtonRow {
    width: 100%;
}

.mktoButtonWrap.mktoSimple {
    margin: 0 !important;
}

.mktoButtonRow .mktoButtonWrap.mktoSimple .mktoButton {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;

    width: 100% !important;
    padding: 0.75em 2em !important;

    color: var(--white);
    font-weight: 500 !important;
    font-size: 1.125rem !important;
    border-radius: 9999px;

    background-color: var(--black) !important;
    background-image: none !important;
    border: none !important;

    &:hover,
    &:focus {
        background-color: var(--red);
    }
}

.mktoForm .mktoError .mktoErrorMsg {
    background-image: none !important;
    background-color: #000 !important;
    border: none !important;
    text-shadow: none !important;
    font-weight: 600 !important;
    -webkit-box-shadow: none !important;
    box-shadow: rgb(0 0 0 / 65%) 0 2px 7px, inset #000000 0 1px 0px !important;
}

.mktoForm .mktoError .mktoErrorArrow {
    background-color: #000 !important;
    border: 1px solid #000 !important;
}
